extends layout

block content
    .timeline 
        h3 정보
        form#join-form
            .input-group
                label(for='nick') 닉네임 : 
                input#nick(value = user.nick style = 'border:none;')
            .input-group 
                label 이메일 : 
                input#email(value = user.email style = 'border:none;')
            button#up_btn.btn(type='button') 수정

    script.
        const nick_v = document.querySelector('#nick');
        const email_v = document.querySelector('#email');
        const up_btn = document.querySelector('#up_btn');

        let nick = nick_v.value;
        let email = email_v.value;

        nick_v.addEventListener('change', (e) => {
            nick = nick_v.value;
            console.log(nick_);
        });
        
        email_v.addEventListener('change', (e) => {
            email = email_v.value;
            console.log(email_);
        });

        up_btn.addEventListener('click', (e) => {
            if(confirm('정보를 수정 하시겠습니까?')) {
                let data = {
                    'nick' : nick,
                    'email' : email
                };
                data = JSON.stringify(data);

                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/user/profile_update');
                xhr.setRequestHeader('Content-Type', "application/json");

                //- xhr.onreadystatechange = () => {
                //-     if (xhr.readyState === xhr.DONE) {
                //-         if (xhr.status === 200) {
                //-             location.reload();
                //-         }
                //-         else {
                //-             console.error(xhr.responseText);
                //-         }
                //-     }
                //- };

                xhr.onload = () => {
                    if (xhr.status === 200) {
                        location.reload();
                    }
                    else {
                        console.error(xhr.responseText);
                    }
                };

                xhr.send(data);
            }
        });